In [34]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [73]:
urls_array=[
            "https://www.basketball-reference.com/leagues/NBA_1980_totals.html"
            ,"https://www.basketball-reference.com/leagues/NBA_1983_totals.html"
            ,"https://www.basketball-reference.com/leagues/NBA_1985_totals.html"
           ,"https://www.basketball-reference.com/leagues/NBA_1988_totals.html"
            ,"https://www.basketball-reference.com/leagues/NBA_1990_totals.html"
            ,"https://www.basketball-reference.com/leagues/NBA_1992_totals.html"
           ,"https://www.basketball-reference.com/leagues/NBA_1995_totals.html"
            ,"https://www.basketball-reference.com/leagues/NBA_1997_totals.html"
           ,"https://www.basketball-reference.com/leagues/NBA_1999_totals.html"
            ,"https://www.basketball-reference.com/leagues/NBA_2001_totals.html"
          ,"https://www.basketball-reference.com/leagues/NBA_2003_totals.html"
            ,"https://www.basketball-reference.com/leagues/NBA_2005_totals.html"
            ,"https://www.basketball-reference.com/leagues/NBA_2008_totals.html"
            ,"https://www.basketball-reference.com/leagues/NBA_2010_totals.html"
            ,"https://www.basketball-reference.com/leagues/NBA_2012_totals.html"
            ,"https://www.basketball-reference.com/leagues/NBA_2015_totals.html"
            ,"https://www.basketball-reference.com/leagues/NBA_2017_totals.html"
            ,"https://www.basketball-reference.com/leagues/NBA_2019_totals.html"
            ,"https://www.basketball-reference.com/leagues/NBA_2021_totals.html"
           ]
##, "https://www.basketball-reference.com/leagues/NBA_1992_per_poss.html",
    ##        "https://www.basketball-reference.com/leagues/NBA_1995_per_poss.html",     
      ##     "https://www.basketball-reference.com/leagues/NBA_1997_per_poss.html","https://www.basketball-reference.com/leagues/NBA_1999_per_poss.html",
        ##   "https://www.basketball-reference.com/leagues/NBA_2008_per_poss.html", "https://www.basketball-reference.com/leagues/NBA_2012_per_poss.html",
          ## "https://www.basketball-reference.com/leagues/NBA_2015_per_poss.html","https://www.basketball-reference.com/leagues/NBA_2017_per_poss.html",
           ##"https://www.basketball-reference.com/leagues/NBA_2021_per_poss.html"]
players=list()
age_s=list()
p3_s=list()
p3a_s=list()
p3p_s=list()
p2_s=list()
p2a_s=list()
p2p_s=list()
ft_s=list()
fta_s=list()
ftp_s=list()
orb_s=list()
drb_s=list()
ast_s=list()
blk_s=list()
tov_s=list()
pts_s=list()

In [76]:
for url in urls_array:
    html = requests.get(url)
    soup = BeautifulSoup(html.content, "html.parser")
    table = soup.find('table')
    table_rows = table.find_all('tr')
    index=0
    for tr in table_rows:
        td = tr('td')
        row = [tr.text.strip() for tr in td if tr.text.strip()]
        if row:
            players.append(row[0])
            age_s.append(row[2])
            p3_s.append(row[10])
            p3a_s.append(row[11])        
            p3p_s.append(row[12])
            p2_s.append(row[13])
            p2a_s.append(row[14])
            p2p_s.append(row[15])
            ft_s.append(row[17])
            fta_s.append(row[18])
            ftp_s.append(row[19])
            orb_s.append(row[20])
            drb_s.append(row[21])
            ast_s.append(row[23])

    for i in range(0,len(p2p_s)):
        if (str(p2p_s[i])[0]!="."):
            p2p_s[i]=999
            
    for i in range(0,len(p3p_s)):
        if (str(p3p_s[i])[0]!="."):
            p3p_s[i]=999

In [77]:
df = pd.DataFrame({"Player Name":players,"AGE":age_s,"3P":p3_s,"3PA":p3a_s,"3P%":p3p_s,"2P":p2_s,"2PA":p2a_s,"2P%":p2p_s,"FT":ft_s,"FTA":fta_s,"FT%":ftp_s,"ORB":orb_s,"DRB":drb_s,"AST":ast_s})
df.drop_duplicates(subset='Player Name', keep='first', inplace=True)
    
df = df.loc[df["2P%"] != 999]
df.shape
df = df.loc[df["3P%"] != 999]
df.shape  
df

,Player Name,AGE,3P,3PA,3P%,2P,2PA,2P%,FT,FTA,FT%,ORB,DRB,AST
3,Tiny Archibald*,31,4,18,.222,379,776,.488,361,435,.830,59,138,671
20,Henry Bibby,30,11,52,.212,240,574,.418,226,286,.790,65,143,307
21,Larry Bird*,23,58,143,.406,635,1320,.481,301,360,.836,216,636,370
54,M.L. Carr,29,12,41,.293,350,722,.485,178,241,.739,106,224,156
59,Don Chaney,33,1,6,.167,66,183,.361,32,42,.762,31,42,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9957,Zion Williamson,20,10,34,.294,624,1003,.622,369,529,.698,167,274,226
9961,Dylan Windler,24,26,77,.338,31,53,.585,21,27,.778,20,87,33
9963,Cassius Winston,22,8,17,.471,6,16,.375,5,6,.833,0,9,12
9964,James Wiseman,19,12,38,.316,179,330,.542,54,86,.628,55,171,26
9966,Robert Woodard,21,1,6,.167,7,14,.500,3,8,.375,4,12,2